[submodule "circles.js"]
	path = circles.js
	url = https://github.com/EricHanLiu/circles.js
[submodule "whatsmydrink"]
	path = whatsmydrink
	url = https://github.com/EricHanLiu/whatsmydrink.git
[submodule "sasa"]
	path = sasa
	url = git@github.com:EricHanLiu/sasa.git
